<h1>Custom Vision Prediction</h1>

<form (ngSubmit)="predict()">
    <div class="form-group">
        <label for="imageFile">Image</label>
        <input type="file" id="imageFile" value="Upload" class="upload" />
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
</form>

<table class='table' *ngIf="tags">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Probability</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tag of tags">
            <td>{{ tag.Tag }}</td>
            <td>{{ tag.Probability }}</td>
        </tr>
    </tbody>
</table>
